<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/@koozaki/romaji-conv@2.0.18/dist/romaji-conv.js"></script>
    <title>変換サイトをつくる</title>
    <script src="main.js"></script>
    <link href="style.css" rel="stylesheet">
</head>



<body >    
    <div id="app">
        <div v-on:click="release();">
            <p>
                ローマ字で入力した文章をかな漢字変換
            </p>

            <!-- 結果の一番上のやつをとりあえず表示 -->
            <span v-for="(num,index) in convResult.length" v-on:mouseover="displayConvWindow(index)" v-bind:id="`target${index}`">
                {{convResult[index][1][convIndex[index]]}}
            </span>

            <button v-on:click="release();">選択解除ボタン</button>


            <!-- hoverされている時に表示する変換窓 -->
            <div class="convWindow" v-show="hoverFlag" v-bind:style="('transform: translate(' + convWindowPositionX  + 'px, ' + convWindowPositionY + 'px')">
                <ul>
                    <li v-for="(num,index) in 5" @click="change(hoverIndex,index)">{{convResult[hoverIndex][1][index]}}</li>
                </ul>
            </div>

            <br>


            <textarea id="roman">kyou no tenki ha hare desu.</textarea>
            <input type="button" value="変換" @click="convert()"><br>
        </div>
    </div>
</body>


</html>