<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>変換サイトをつくる</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/@koozaki/romaji-conv@2.0.18/dist/romaji-conv.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/damerau-levenshtein-js@1.1.8/app.min.js"></script>
    <script src="dictionary.js"></script>
    <script src="main.js"></script>
    <link href="style.css" rel="stylesheet">
</head>



<body >    
    <div id="app" class="app">
        <!-- releaseのためのdivだけどfixWindowと競合するので一旦v-on.clickを削除 -->
        <div>
            <p>ローマ字で入力した文章をかな漢字変換</p>

            <!-- 結果の一番上のやつをとりあえず表示 -->
            <span v-for="(num,index) in convResultArray.length" v-on:mouseover="displayConvWindow(index)" @click="displayFixWindow(index)" v-bind:id="`target${index}`">
                {{convResultArray[index][1][convIndex[index]]}}
            </span>

            <button v-on:click="release();">選択解除ボタン</button>


            <!-- hoverされている時に表示する変換窓 -->
            <div class="convWindow" v-show="displayConvWindowFlg" v-bind:style="('transform: translate(' + convWindowPositionX  + 'px, ' + convWindowPositionY + 'px')">
                <ul>
                    <li v-for="(num,index) in 5" @click="changeConv(selectedTargetIndex,index)">{{convResultArray[selectedTargetIndex][1][index]}}</li>
                </ul>
            </div>

            <!-- clickされた時に表示する修正窓 -->
            <div class="fixWindow" v-show="displayFixWindowFlg" v-bind:style="('transform: translate(' + convWindowPositionX  + 'px, ' + convWindowPositionY + 'px')">
                <ul>
                    <li v-for="(num,index) in fixCandidateArray.length">{{fixCandidateArray[index]}}</li>
                </ul>
            </div>

            <br>


            <textarea id="textInput">kyou no tenki ha hare desu.</textarea>
            <input type="button" value="変換" @click="convert()"><br>
        </div>
    </div>
</body>


</html>